<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="animate__animated animate__bounceInRight">
      Cadastrar
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" color="primary" (click)="signUp(email, password)" expand="block">Cadastrar</ion-button>
      </ion-col>
      <ion-col> 
        <ion-button type="submit" color="secondary" (click)="entrar()" expand="block">Ja tenho uma conta</ion-button>
        </ion-col>
    </ion-row>
  </form>
</ion-content>