<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="animate__animated animate__bounceInRight">
      Sair
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row>
        <p>
          Você deseja mesmo sair?
        </p>
        <ion-button type="submit" (click)="sair()" expand="block">
          Sim, desejo sair
        </ion-button>
        <ion-button type="submit" (click)="continuar()" expand="block">
          Não, desejo continuar
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
